body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    color: white;
    text-align: center;
    padding: 5px 10px;
    background-color: brown;
    margin-bottom: 30px; 
    margin-left: 40%;
    margin-right: 40%;
    border: solid black 5px;
    }

.home {
    text-align: center;
}

#splash img {
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: brown;
    border: solid black 5px;
}

img {
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: brown;
    border: solid black 5px;
}

h2 {
    color: white;
    background-color: brown;
    border: solid black 5px;
}

a {
    color: brown;
}

a:hover {
    color: darkgoldenrod;
}

a:visited {
    color: darkred;
}