.heading,
.home {
    color: brown;
    text-align: center;
}


#splash img {
    height: auto;
    width: 400px;
    display: block;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}